.search-input ::placeholder {
  color: #a1a5b6 !important;
  font-family: Quicksand !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  text-align: left !important;
}
.list-nav2.active::after {
  color: black; /* Initial text color */
  position: relative;
  padding: 10px 0px;
  text-decoration: none;
  z-index: 1; /* Ensure text is above the pseudo-element */
  margin-top: 10px;
}
.chartjsbar {
  border: 2px solid #495099 !important;
  border-radius: 16px;
  background: #161a42b2 !important;
  display: flex;
  margin-right: 24px;
  margin-left: 24px;
}
.crd-lasr-side-profile {
  width: 64px;
  height: 64px;
}
.list-nav2 {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 9%;
  width: 100%;
  height: 5px;
  border-bottom: 4px solid transparent; /* Adjust the border thickness */
  background: linear-gradient(94.74deg, #0e5768 9.96%, #1177e8 90.04%);
  background-clip: padding-box;
  z-index: 1; /* Ensure the pseudo-element is behind the text */
  margin-top: 40px !important;
}
.border-btom-stly {
  width: 56px;
  margin: 8px;
  border: 2px;
  border-bottom: 2px solid #2e357b;
}
.drawer-bg {
  border: 2px solid #2e357b !important;
  border-radius: 16px !important;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
  margin-top: 45px !important;
  margin-bottom: 44px !important;
  margin-right: 20px;
  width: 72px !important;
  margin-left: 32px !important;
  height: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Mui-selected {
  background: #232966 !important;
  width: 68px;
  height: 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-right: 2px solid transparent;
}

.border-color-stly {
  position: relative;
  border-right: 2px solid transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 40px;
  z-index: 1;
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  width: 68px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
  display: flex;
  align-items: center;
}
.Mui-selected.border-color-stly::before {
  align-items: center;
  justify-content: center;
  display: flex;
  /* height: 56px; */
  /* width: 70px; */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 65px !important;
  right: 0;
  border-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  padding: 1px;
  border-right: 4px solid transparent;
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%) !important;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.logout-btn {
  padding-bottom: 71px !important;
  text-align: center;
  display: flex;
  align-items: end;
}
.main-text-font {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1325px !important;
  padding-bottom: 31px;
}
.main-text-font h3 {
  font-family: Quicksand !important;
  font-size: 32px !important;
  font-weight: 700 !important;
  line-height: 40px !important;
  text-align: left;
  color: #e2e4e9 !important;
  margin: 0px !important;
}
.main-text-font p {
  color: #5eead4 !important;
  /* //styleName: sm/Semibold; */
  font-family: Quicksand !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 20px !important;
  text-align: left;
  margin: 0px;
  /* padding-top: 44px !important; */
}
.bid-imges {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}
.nfts-boxes-divs-stlye {
  gap: 40px !important;
}
.image-card {
  background: transparent !important;
  /* gap: 40px !important;
    display: flex; */
}
.hotbid-text {
  font-family: Quicksand !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  text-align: left;
  color: #a5f3fc !important;
  padding: 40px 0px 20px;
  margin-bottom: 0px;
}
.hotbid-text span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.title-names {
  color: #fafafb !important;
  font-family: Poppins !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: left;
}
.ether-text {
  font-family: Poppins !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  text-align: left !important;
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.ether-text img {
  width: 64px;
  height: 24px;
}
.card-body {
  padding: 15px 0px !important;
}
.top-sellers {
  color: #6ee7b7 !important;
  font-family: Quicksand !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  text-align: left;
  padding: 44px 0px 20px !important;
  margin: 0px !important;
}
.progress-bar {
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%) !important;
}
.pipe {
  width: 2px !important;
  height: 56px !important;
  border-radius: 100px !important;
  background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%) !important;
  margin: 0px 2px !important;
}
.main-drawer {
  width: 136px !important;
}
.MuiDrawer-docked .MuiDrawer-paper {
  width: 136px !important;
}
.navbr {
  padding: 0px 0px 46px 0px !important;
  /* display: flex;
  align-items: center; */
}
.divider-stly {
  /* border-bottom: 2px solid #232966; */
  gap: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0px 8px !important; */
}
.adjustment-of-buttons {
  gap: 45px !important;
  display: flex;
  align-items: center;
}
/* .button-1-eth-price {
  width: 120px;
  height: 56px;
  border: 2px solid !important;
  border-radius: 16px !important;
  border-image-source: linear-gradient(
    346.11deg,
    #212554 0.39%,
    rgba(81, 90, 180, 0) 76.18%
  ) !important;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  ) !important;
  padding: 16px !important;
  display: flex;
  align-items: center;
} */
.button-1-eth-price p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0px !important;
  color: white !important;
  padding-left: 4px !important;
}
.button-1-eth-price {
  position: relative;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 12px;
  height: 56px;
  z-index: 1;
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  width: 120px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
  padding: 16px !important;
  display: flex;
  align-items: center;
}
.button-1-eth-price::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 120px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  padding: 12px;
  border: 2px solid transparent;
  background: linear-gradient(
    346.11deg,
    #212554 0.39%,
    rgba(81, 90, 180, 0) 76.18%
  ) !important;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.notify-btn {
  position: relative;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 12px;
  height: 56px;
  z-index: 1;
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  width: 56px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
}
.notify-btn::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 56px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  padding: 12px;
  border: 2px solid transparent;
  background: linear-gradient(
    346.11deg,
    #212554 0.39%,
    rgba(81, 90, 180, 0) 76.18%
  ) !important;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.create-btn p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
}
/* .connect-wallet-btn {
  width: 174px;
  height: 56px;
  border-radius: 12px;
  border: 2px;
  background: #161a42;
  border: 2px solid;
  padding-right: 21px !important;
  border-image-source: linear-gradient(
    90deg,
    #1fa2ff 0%,
    #12d8fa 50%,
    #a6ffcb 100%
  );
} */
.connect-wallet-btn {
  position: relative;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 16px 25px;
  z-index: 1;
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  width: 174px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
}
.connect-wallet-btn::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 174px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    #1fa2ff 0%,
    #12d8fa 50%,
    #a6ffcb 100%
  ) !important;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.connect-wallet-btn p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
}
.butns-div-spacing {
  display: flex;
  gap: 16px;
}
.user-id-nfts-dropdown .dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
}
#dropdown-basic-NFTS {
  display: flex;
  align-items: center;
  padding: 0px;
}
.revenue-outer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px 16px 24px !important;
}
.reveenue {
  /* //styleName: xl/Bold; */
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: white;
  margin: 0px;
}
#dropdown-basic-NFTS-Month {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: white;
  padding: 0px;
}
.user-id-nfts-dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0px !important;
  padding-left: 8px;
  vertical-align: middle !important;
  content: url("../../assets/sideBoxImages/arrowdown\ Chevron.png") !important;
  border: none;
}
.verifiedtick {
  width: 24px !important;
  height: 24px !important;
}
.id-proflie {
  /* padding: 0px 61px 0px 16px !important; */
  display: flex;
  align-items: center;
  gap: 61px;
}
.id-proflie h3 {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.5px;
  color: #e2e4e9;
}
.profile-arrow {
  width: 24px;
  height: 24px;
}
.id-proflie p {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  color: #93c5fd;
  padding-top: 8px;
}
.create-btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: 96px;
  height: 56px;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
  border-radius: 16px !important;
}
.create-btn::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 96px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  border-radius: 16px;
  background: linear-gradient(
    346.11deg,
    #212554 0.39%,
    rgba(81, 90, 180, 0) 76.18%
  ) !important;
  /* background: linear-gradient(94.74deg, #85d8eb 9.96%, #1177e8 90.04%); Gradient background */
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.progress-bar-stly {
  width: 1316px;
  height: 8px !important;
  border-radius: 20px;
}
.progress-bar-stly.progress {
  --bs-progress-bg: #161a42 !important;
  border-radius: 20px !important;
  margin-top: 16px;
}
.progress-bar {
  border-radius: 20px !important;
}
.top-box-stlying {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  align-items: center;
  gap: 59px;
}
.top-box-stlying h3 img {
  padding-left: 4px !important;
}
.top-box-stlying-inner-div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.top-box-stlying h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: white !important;
}
.top-box-stlying p {
  /* //styleName: sm/Semibold; */
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #5eead4 !important;
}
.MuiDrawer-docked .MuiDrawer-paper {
  width: 130px;
}
.side-profile {
  width: 368px !important;
  height: 100% !important;
  position: relative;
  border-radius: 16px !important;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  ) !important;
  border: 3px solid #075985;
  cursor: pointer;
}
.side-profile-bg-img {
  background-image: url("../../assets/sideBoxImages/Ornament.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 336px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.side-profile-bg-img h3 {
  /* //styleName: 4xl/Bold; */
  font-family: Quicksand;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: white;
  padding-bottom: 28px;
  margin-bottom: 0px;
}
.side-profile-bg-img img {
  width: 120px;
  height: 120px;
}
.side-profile-bg-img .id-name {
  /* //styleName: 4xl/2xl/Semibold; */
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: white !important;
  padding-top: 24px;
  margin: 0pc;
}
.price-box {
  width: 68px;
  height: 52px;
  border: 2px solid transparent;
  border-radius: 16px;
  /* border-image-source: linear-gradient(180deg, #3461ff 0%, #8454eb 100%) !important; */
  background: #161a42b2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.price-box::after {
  position: absolute;
  width: 68px;
  height: 52px;
  background: linear-gradient(180deg, #3461ff 0%, #8454eb 100%);
  border-radius: 16px;
  /* background: linear-gradient(180deg, #3461ff 0%, #8454eb 100%) !important; */
  color: white;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.categories {
  /* //styleName: sm/Semibold; */
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: white;
  padding: 11px 0px 30px;
  margin: 0px;
}
.info {
  display: flex;
  justify-content: center;
  gap: 17px;
}
.price-box {
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 16px 25px;
  z-index: 1;
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  width: 68px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
}
.price-box::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 68px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  border: 2px solid transparent;
  background: linear-gradient(180deg, #3461ff 0%, #8454eb 100%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
.Balance h3 {
  /* //styleName: xl/Bold; */
  font-family: Quicksand;
  font-size: 20px !important;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: white;
  margin-bottom: 14px;
}
.Balance {
  padding: 0px 24px;
}
.balance-inner-div {
  border: 2px solid #495099;
  width: 320px;
  height: 64px;
  border-radius: 16px;
  background: #161a42b2;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
  align-items: center;
}
.ether-num {
  display: flex;
  gap: 11px;
  align-items: center;
}
.ether-num img {
  width: 32px;
  height: 32px;
}
.add-dropdown {
  gap: 6px;
  display: flex;
}
.add-dropdown p img {
  width: 5.33px;
  height: 9.33px;
  /* //styleName: base/Semibold; */
}
.add-dropdown p {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: white;
  gap: 6px;
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.ether-num p {
  /* //styleName: xl/Bold; */
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: white;
  margin: 0px;
}
.recent-activity-heading {
  display: flex;
  justify-content: space-between;
}
.recent-activity-heading h3 {
  /* //styleName: xl/Bold; */
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: white;
  margin: 0px;
}
.recent-activity-heading p img {
  padding-left: 4px;
}
.recent-activity-heading p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: white;
  margin: 0px;
}
.recnt-main {
  padding: 32px 24px 31px;
}
.recnt-activity-cards-bg1 {
  width: 100%;
  height: 88px;
  border-radius: 16px;
  background: #212760;
  margin-bottom: 13px;
  gap: 12px;
  display: flex;
  padding: 12px;
  margin-top: 17px;
}
.recnt-activity-cards-bg {
  width: 100%;
  height: 88px;
  border-radius: 16px;
  background: #212760;
  gap: 12px;
  display: flex;
  padding: 12px;
}
.varint-btwn-divz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px !important;
}
.name-n-id h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
.name-n-id p {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #dbeafe;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.name-n-id p span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  /* text-align: left; */
  background: linear-gradient(
    88.82deg,
    #bac1ff -0.98%,
    #63fefe 54.08%,
    #ff3eec 112.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bid-info h4 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #67e8f9;
  margin-bottom: 0px;
}
.bid-info h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: right;
  color: white;
  margin: 0px;
}
.bid-info p {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #93c5fd;
  margin: 0px;
  margin-top: 8px;
}
.bid-info {
  width: 100%;
}
.proflie-img {
  width: 56px;
  height: 56px;
}
.search-bar-1::before {
  content: "";
  position: absolute;
  left: 20px; /* Adjust the position of the image */
  top: 50%;
  transform: translateY(-50%);
  width: 24px; /* Adjust the size of the image */
  height: 24px;
  background-image: url("../../assets/Nav/Search.png"); /* Path to your image */
  background-size: cover;
  z-index: 1100;
}
.search-bar-1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.search-input {
  position: relative;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 16px 16px 16px 71px;
  z-index: 1;
  color: #ffff;
  cursor: pointer;
  width: 449px;
  height: 56px;
  background: linear-gradient(
    162.34deg,
    #161a42 22.61%,
    rgba(22, 26, 66, 0) 118.29%
  );
}
.search-input::before {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 56px;
  width: 449px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    #39e808 0%,
    #12d8fa 50%,
    #a6ffcb 100%
  ) !important;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.shown {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
